* {
  bg: #1A1826;
  bg-semilight: #1E1E2E;
  bg-light: #302D41;
  fg: #D9E0EE;
  red: #E38C8F;
  wifi-accent: #E38C8F;
  blue: #A4B9EF;
  green: #B1E3AD;
  bg-hover: #A4B9EF;
  fg-hover: #1E1E2E;
  fg-unhover: #A4B9EF;
  network-header: url("assets/dark/network-header.png", height);
  launcher-header: url("assets/dark/launcher-header.png", height);
}
